
<%= form_for [portfolio, comment],url: portfolio_path(portfolio.id),remote: true do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <h3>コメント</h3>
        <%= f.text_area :comment, rows:'4', class: "form-control",placeholder: "コメントをここに" %>
        <div class="field" id="star">
         <%= f.label :rate,  "星評価" ,id: "e"%>
         <%= f.hidden_field :rate, id: :review_star %>
        </div>
    </div>
    <%= f.submit "コメントする", class: "btn btn-primary" %>
    <%= hidden_field_tag :comment_number, 0 %>
    <%= hidden_field_tag :portfolio_id, portfolio.id %>
<% end %><br>


<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: "<%= asset_path('star-half.png') %>",
  scoreName: 'comment[rate]',
  half: true //★半分
});
</script>