  <% portfolio.comments.each do |comment| %>
     <div id="comment-<%= comment.id %>" class="comment_text">
        <div><%= attachment_image_tag comment.user, :profile_image, size: "60x60",  fallback: "my_noimage.jpg" ,style: "border-radius: 50%; margin-right: 20px;"%>
        <a href="#" class="link-autdor"><%= comment.user.name %></a></div><br>
        <p class="comment_body"><%= comment.comment %></p>
        <div style="display:flex;" class="justify-content-end">
        <div class="comment-item"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
        <h6  class="comment-item">評価：<%= comment.rate %>点</h6>
        <div id="star-rate-<%= comment.id %>"  class="comment-item"></div>
       <% if comment.user == current_user %>
         <div  class="comment-item"><%= link_to '削除', portfolio_comment_path(comment.portfolio.id,comment.id), method: :delete,remote: true, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger "%></div>
       <% end %>
     </div>
     </div>
     
     
 <script>
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            score: '<%= comment.rate %>',
            readOnly: true
        });
</script> 
    <% end %>
    