 <h2>投稿</h2>
   <% if @portfolio.errors.any? %>
    <%= @portfolio.errors.count %> errors 
    <% @portfolio.errors.full_messages.each do |message| %>
     <%= message %>
    <% end %>
   <% end %>
    <%= form_for(portfolio, url:portfolios_path,method: "post") do |f| %>
  
     <div class="tag-field">
      <%= f.label :portfolio, "タグ" %>
      <div class="output"><%= f.text_field :tag_list, value: portfolio.tag_list.join(','), placeholder: "例) rails,", data: {role: "tagsinput"},maxlength: 10, class: "form-control" %></div>
      <%= f.hidden_field :tag_list,:value => portfolio.tag_list.join(','), id: "hid"%>
     </div>
  
     <div class="portfolio-image">
      <%= attachment_image_tag portfolio, :image, class: "img-square", fallback: "noimage.svg", size:"300x300" %>
     </div><br>
 
     <%= f.attachment_field :image, placeholder: "画像" %>
       
     <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title,maxlength: 30, autofocus: true, autocomplete: "title"%>
     </div>
  
     <div class="field">
      <%= f.label '本文' %>
      <%= f.rich_text_area :body, maxlength: 1000%>
     </div>
     <%= hidden_field_tag :error_post, a %>
     <div><%= f.submit "portfolio登録" ,class: "btn btn-primary",id: "tag_lists"%></div>
    <% end %><br>
  </div>
</div>