<div class="row justify-content-md-center">
<h1>編集</h1>
</div>
<div class="row justify-content-md-center">

  <%= form_for(@portfolio) do |f| %>
	<%= f.label :title, 'Title' %>
	<%= f.text_field :title%>
	<%= f.label :body, '本文' %>
	<%= f.rich_text_area :body%><br>
	<%= f.submit "編集保存" ,class: "btn btn-primary" %>
	<%= link_to 'Back',user_path(@portfolio.user_id) ,class: "btn btn-dark"%>
	<% end %>
</div>
</div>