<%= form_with model: Portfolio, url: search_portfolios_path, method: :get, remote: true do |f| %>
  <%= f.select :keyword, [ ['pv', 'visit'],
                            ['いいね', 'ranking_likes'],
                            ['コメント','ranking_comment'],
                          ] %>
  <%= f.submit "並び替え" ,class: "btn btn-primary"%>
<% end %>

<h1>ランキング</h1>
<%= render '1_ranking',port: @portfolio %>
<div class="row row-cols-2 ports">
<%= render 'ranking', pv: @portfolios %>
</div>