<div class="row">
  <div class="col-2">
   <h5><%= user.name %>ページ</h5>
   <% if @chat == nil  %>
    <%= link_to 'チャットを始める', new_room_path(user.id) %>
   <% else %>
    <%= link_to 'チャットをする', room_path(@room.id) ,data: {"turbolinks" => false}%>
   <% end %>
     <%= attachment_image_tag user, :profile_image, size: "150x120",  fallback: "my_noimage.jpg" ,style: "border-radius: 50%; margin-bottom: 10px;"%><br>
     <div><i class="fas fa-file-powerpoint" style="color:blue;"></i><%= user.portfolios.count %><i class="fas fa-star" style="color:gold;"></i><%= user.favorites.count %></div>
  </div>
  <div class="col-10 align-self-center user_introduction">
     <h4><span  style="background-color: #CCFF99;">『自己紹介』</span></h4>
     <P><%= @user.introduction %></p>
  </div>
</div>   
<!--投稿一覧-->
<h2 id="2"><%= user.name %>の投稿</h2>
<div class="row row-cols-2 ports">
 <%= render partial: 'portfolios/portfolio_all',collection: user_portfolios,as: "port" %>
</div>
 <%= paginate user_portfolios %>

