<h3>user一覧</h3>
 <div class='row'>
   <div class='col'>
    <% @users.each do |user| %>
    <%= attachment_image_tag user, :profile_image, size: "50x40",  fallback: "my_noimage.jpg", class: "portfolio_image"%>
     <li style= 'color: black;' ><%= link_to user_path(user.id) do %><%= user.name %><% end %>
     <%= " " + "投稿数:" %><%= user.portfolios.count %></li>
    <% end %>
  </div>
</div>