<!DOCTYPE html>
<html>
  <head>
    <title>PortaAperta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <heder>

             <nav>
              <ul class="navbar navbar-dark bg-dark justify-content-end sticky-top ">
                <!-- 会員でログインしている時 -->
                <% if user_signed_in? %>
                  <li><%= link_to user_path(current_user.id) do %><i class="fas fa-user"></i>マイページ<% end %></li>
                  <li><%= link_to top_path do %><i class="fas fa-cookie-bite"></i>一覧<% end %></li>
                  <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
                <!-- ログインしていない時 -->
                <% else %>
                  <li class="nav-item"><%= link_to "#" do %><i class="fas fa-cookie-bite"></i>商品一覧<% end %></li>
                  <li class="nav-item"><%= link_to "#" do %><i class="fas fa-building"></i>会社概要<% end %></li>
                  <li class="nav-item"><%= link_to "#" do %><i class="fas fa-user-plus"></i>新規登録<% end %></li>
                  <li class="nav-item"><%= link_to new_user_session_path do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
                  <li class="nav-item"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
                <% end %>
              </ul>
            </nav>
           
  </heder>

  <body>
    <%= flash_message(flash[:success], :success) if flash[:success] %> <!--緑 flash messge application_helperに記述-->
    <%= flash_message(flash[:error], :danger) if flash[:error] %> <!-- 赤 -->
    <%= flash_message(flash[:alert], :warning) if flash[:alert] %> <!--黄　 -->
    <%= flash_message(flash[:notice], :info) if flash[:notice] %> <!--青 -->
   <div class="container" style="min-width:80%;">
    <%= yield %>
   </div>
  </body>
</html>
